/* common styles */
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(22, 22, 22);
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

/* icon styles */
.intro .fa {
  margin: 5px 2px;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

footer .fa {
  margin: 5px 2px;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;

}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/* header styles */
header {
  min-height: 100vh;
  margin: 0;
  padding: 0 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: sticky;
  top: 0;
  font-size: large;
  background-color: rgb(22, 22, 22);
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 60px;
}

.logo h1 {
  display: none;

}

.topnav a {
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.4s;
}

.topnav a:hover {
  background-color: rgba(44, 44, 44, 0.5);
  color: #09a509;
}

.topnav a.active {
  background-color: rgba(44, 44, 44, 0.5);
  color: #09a509;
}

.topnav .icon {
  padding: 14px 18px;
  display: none;
}

.head-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.intro {}

.intro-t {
  line-height: 1.4;
  font-size: 1.5em;
  transition: 0.3s;
  text-shadow: 2px 2px 4px rgb(236, 9, 225);
}

.intro-t:hover {
  color: #09a509;
  font-size: 1.6em;
}

.intro-lt {
  color: #09a509;
  line-height: 1.4;
  font-size: 1.5em;
}

/* mob */
.mob {
  margin: 20px;
  padding: 10px;
  width: 300px;
  height: 500px;
  background-color: rgb(214, 209, 209);
  border: 4px solid royalblue;
  border-top: 20px solid royalblue;
  border-bottom: 20px solid royalblue;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  color: royalblue;
}

.cam {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: rgb(22, 22, 22);
  position: absolute;
  top: -17px;
  left: 45%;
  border: 0.5px solid silver;
}

.dp {
  width: 200px;
  border-radius: 100px;
}

.mob h3 {
  text-align: center;
}

.bio span {
  color: rgb(11, 11, 11);
}

.mob-contact {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  font-size: 1.2em;
  border: 2px solid royalblue;
  border-radius: 10px;
  transition: 0.4s;
}

.mob-contact:hover {
  color: white;
  background-color: royalblue;
}

/* responsive styles */
@media screen and (max-width: 720px) {
  .intro {
    margin-top: -100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro-t,
  .intro-t:hover,
  .intro-lt {
    font-size: 1.2em;
  }
}

/* tab styles */
.about-me {
  background-color: rgb(11, 11, 11);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  padding: 20px;
  width: 60%;
  height: 50vh;
  background-color: rgb(214, 209, 209);
  border: 20px solid royalblue;
  border-bottom: 40px solid royalblue;
  border-radius: 30px;
  font-size: large;
  color: rgb(11, 11, 11);
  position: relative;

}

.h-btn {
  display: inline-block;
  background-color: rgb(22, 22, 22);
  width: 80px;
  height: 25px;
  border-radius: 20px;
  position: absolute;
  bottom: -32px;
  left: 45%;
  border: 0.5px solid silver;
  box-shadow: 2px 2px 2px royalblue;
}

.tab h2 {
  color: royalblue;
  ;
  text-align: center;
  letter-spacing: 1px;
}

.tab p {
  height: 80%;
  margin: 20px;
  letter-spacing: 0.8px;
  line-height: 1.4;
  overflow: auto;
}


/* skill style */
.skills {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills h2 {
  font-size: 2em;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}
.skill-con {
 display: flex;
 flex-wrap: wrap;
}
.skills figure .svg {
  width: 200px;
  height: 100px;
  margin: 5px;
}

.skills figure {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 4px solid blueviolet;
  border-radius: 20px;
  transition: 0.4s;
}

.skills figure:hover {
  background-color: blueviolet;
}

/* footer styles */
footer {
  color: whitesmoke;
  background-color: rgb(11, 11, 11);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  letter-spacing: 1px;
}

footer p {
  text-shadow: 2px 2px 4px rgb(236, 9, 225);
}

footer p a {
  color: whitesmoke;
  font-size: large;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgb(236, 9, 225);
}
@media screen and (max-width: 720px) {
  .tab {
    width: 90%;
    height: 40vh;
  }

  .tab h2 {
    margin: 10px;
  }

  .tab p {
    margin: 0;
  }

  .h-btn {
    left: 42%;
  }

  .skills figure .svg {
    width: 100px;
    height: 50px;
    margin: 4px;
  }
  
}
